ADMIN_PASSWORD_HASH=327179bea9bc971a7b5c6e3dd92bc6da5b63de0250b99f78ab36f263e272dc2b
FAMILY_PASSWORD_HASH=cbab50a3f910d110a23b011410f55d7bd66a529388ddeeab1b6e1cf6edefeeb0
SIP_REALM=homeconnect
MYSQL_URL=
MYSQL_SSL=false
MYSQL_SSL_REJECT_UNAUTHORIZED=true
MYSQL_REQUIRED=false
CLOUDFLARE_TURN_KEY_ID=
CLOUDFLARE_TURN_API_TOKEN=
